<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>appDivination.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8CE368E31BEF283E00CC7A35</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8CE368F71BEF283E00CC7A35</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8CE369021BEF283E00CC7A35</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
